node_modules
out/
dist-inno/
dist-builder/
*.log
*.js
!main.js
!renderer.js
!home.js
!settings.js
!color-harmonizer.js
!ai-sidebar.js
!preload.js
!volume-booster.js
publish-release.ps1
update-release.ps1
upload-release.ps1
test_electron.js
temp_asar/
ublock-origin-extension/
return-youtube-dislike-extension/
ocal-focus-extension/
startup_log.txt
startup_final.log